.service-wheel {
  width: 100%;
  max-width: 650px;

  margin: 40px auto;
  padding: 40px;

  text-align: center;

  background: rgba(20,20,20,.95);

  border: 2px solid #FFD700;
  border-radius: 25px;

  box-shadow:
    0 0 20px rgba(255,215,0,.3),
    0 0 60px rgba(255,215,0,.1);

  animation: fadeService .6s ease;
}

.service-wheel h3{
  color:#FFD700;
  font-size:32px;
}

.service-wheel p{
  color:white;
  margin:20px 0;
  font-size:18px;
}

.service-wheel span{
  color:#25D366;
  font-size:24px;
  font-weight:bold;
}

@keyframes fadeService{
  from{
    opacity:0;
    transform:translateY(20px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }
}