*{

    margin:0;

    padding:0;

    box-sizing:border-box;

    font-family:"Poppins",sans-serif;

}

body{

    background:#06161d;

    color:white;

}

#root{
    width:100%;
    max-width:100%;
    overflow-x:hidden;
}

img{
    max-width:100%;
    height:auto;
}