.reset-page{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#07141D;

}

.reset-card{

    width:430px;

    background:#10232E;

    padding:40px;

    border-radius:25px;

    display:flex;

    flex-direction:column;

    gap:20px;

}

.reset-card h1{

    color:white;

    text-align:center;

}

.reset-card input{

    height:55px;

    border:none;

    border-radius:12px;

    padding:15px;

}

.reset-card button{

    height:55px;

    border:none;

    border-radius:12px;

    background:#25D8C5;

    font-weight:bold;

    cursor:pointer;

}