/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

/* HTML */

html{

    width:100%;

    min-height:100%;

    scroll-behavior:smooth;

}

/* BODY */

body{

    width:100%;

    min-height:100vh;

    background:#F4F7FB;

    color:#07141D;

    overflow-x:hidden;

    overflow-y:auto;

}

/* ROOT */

#root{

    width:100%;

    min-height:100vh;

}