* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 500vh;
  width: 100vw;
  background: linear-gradient(180deg, #0f0f0f 0%, rgba(3, 3, 3, 0.8) 10%);
color: #050505;
}